.menuPage .menuPage___container .header{
    display: flex;
    align-items: center;
    margin-top: 3vh;
}

.menuPage .menuPage___container .header .search{
    justify-content: flex-start;
    margin-left: 5vw;
}

.menuPage .menuPage___container .header .cart{
    justify-content: flex-end;
    margin-left: 65vw;
}

.menuPage .menuPage___container .header .search input{
    padding: 10px;
    width: 20vw;
}

.menuPage .menuPage___container .categories{
    display: flex;
    margin-top: 1vh;
}

.menuPage .menuPage___container .meals{
    display: flex;
    margin-left: 4vw;
    margin-top: 2vh;
    width: 92vw;
}