.checkout{
    transition: all 0.6s ease;
    border: 1px solid rgb(167, 68, 11);
    padding: 10px;
    background: rgb(167, 68, 11);
    color: #fff;
    width: 100%;
    border-radius: 2px;
    font-weight: bold;
}

.checkout:hover{
    transition: all 0.6s ease;
    border: 1px solid rgb(146, 61, 11);
    background: rgb(146, 61, 11);
}